body {
    background-image: url("../images/interlaced.png");
    padding: 0;
    margin: 0%;

}

.navbar {
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
}

.navbar-custom {
    background-color:white;
    

}
.noOverflow {
    overflow: none;
}
#logo {
    color: white;
    background-color: #4aaaa5;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    vertical-align: middle;
    margin-left: 10%;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.navbar-collapse {
    font-size: 16px;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.navbar-toggler {
    margin-left: 10%;
    margin-right: 10%;

}

#noPadding {
    padding: 0;
}

.main {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    background-color: white;
    padding: 30px 30px 30px 30px;
    border: 1px solid #dddddd;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
}

p {
    color: #777777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

img {
   margin-right: 15px;
   margin-bottom: 10px;
   margin-top: 10px;
}

#formGroupExampleInput {
    width: 80%;
}

#formGroupExampleInput2{
    width: 80%;
}

#exampleFormControlTextarea1 {
    width: 80%;
}

.submit-btn{
    color: white;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 5px 20px;
}


.widget {
    width: 200px;
    height: 175px;
    margin: 20px 40px 10px 40px;
}

.caption {
    background-color: #4aaaa5;
	color: white;
	text-align: center;
	width: 200px;
	position: relative;
    bottom: 45px;
    margin-left: 40px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #dddddd;
    font-size: 10px;
}

