body {
    background-image: url("../images/interlaced.png");
    padding: 0;
    margin: 0%;

}

.navbar-custom {
    background-color:white;

}

#logo {
    height: 100%;
    color: white;
    background-color: #4aaaa5;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
}